$hoverColor : rgb(236, 116, 247);

/*  NAVIGATION */
nav {
    height : 70px;
    width : 100%;
    background : #222;
    padding : 0 5%;
    // position : fixed ;
    top : 0px;
    right : 0px;
    display : flex;
    align-items : center;
    justify-content: flex-end;
    z-index : 100;


    @media (max-width : 500px) {
        height : 50px
    }
   

    @media (max-width: 600px) {
        justify-content: center;
        align-items : center;
    }
    
}
.nav {
    color : white;
    display : flex;
    height : 100%;
    align-items : center;
    list-style: none;
    
    h1 {
        font-size : 3rem;
        color : #fff;
    }

    li {
        margin-right : 0 20px ;
        padding : 0 10px;
        cursor : pointer;
        font-size : 0.8rem;
        font-weight : 600;
        text-transform: uppercase;
        transition : 0.3s ease-in-out;


        @media (max-width: 600px) {
            font-size : 0.8rem;
        }


        &:hover {
            color : $hoverColor ;
        }

        &::after {
            content : '';
            display : block;
            width : 0;
            height : 1.5px;
            background : $hoverColor ;
            transition : 0.3s ease-in-out;
        }

        &:hover::after {
            width : 100%;
        }
    }
}